{%extends 'director/base.html'%}
{% load static %}
{%block content%} 
<br>
<div class="jumbotron" align="center">
	<div class="container">
		<div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 30rem; font-size: 22">
			<div align="center" class="card-title">
				<h4>Modificar/Validar el pago</h4>
			</div>
			<div class="card-body" align="left">
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<div align="center">
						<button type="submit" class="btn btn-warning" onclick="mensaje()">Actualizar</button>
						<button type="button" onclick="location.href='../pendientes'" class="btn btn-secondary"> CANCELAR </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}