{%extends 'director/base.html'%}
{% load static %}
{%block content%}
<br>
<br>
<div class="container" align="center">
	<br>
	<div class="card">
		<div class="card-header" style="text-align: left;">
			Registrar pagos del Alumno
		</div>
		<div class="shadow-lg p-3 mb-5 bg-body rounded">
			<div class="card-body">
				<form method="POST" action="" enctype="multipart/form-data">
					<div class="form-group col-md-6">
						{% csrf_token %}
						<label>Folio</label>
						<input type="text" name="folio" id="folio" class="form-control">
						<label>Tipo de Pago</label>
						<select class="form-select" name="tipoPago" id="tipoPago">
							<option value="">Seleccionar opción</option>
							<option value="Efectivo">Efectivo</option>
							<option value="Transferencia">Transferencia</option>
							<option value="Depósito">Depósito</option>
							<option value="Mercado Libre">Mercado Libre</option>
						</select>
						<label>Monto</label>
						<input type="text" name="monto" id="monto" class="form-control">
						<label>Fecha de Pago</label>
						<input type="date" name="fechaPago" id="fechaPago" class="form-control">
						<label>Mes a pagar</label>
						<select  name="mesPagado" id="mesPagado" class="form-control">
							<option value="Enero">Enero</option>
							<option value="Febrero">Febrero</option>
							<option value="Marzo">Marzo</option>
							<option value="Abril">Abril</option>
							<option value="Mayo">Mayo</option>
							<option value="Junio">Junio</option>
							<option value="Julio">Julio</option>
							<option value="Agosto">Agosto</option>
							<option value="Septiembre">Septiembre</option>
							<option value="Octubre">Octubre</option>
							<option value="Noviembre">Noviembre</option>
							<option value="Diciembre">Diciembre</option>
						</select>
						<label>Hora del Pago</label>
						<input type="time" name="horapago" id="horapago" class="form-control">
						<input type="hidden" name="Estado_pago" value="True">
					</div>
					<div align="center">
						<br>
						<button type="button" onclick="location.href='pagoalumno'" class="previous action-button btn-secondary" aria-controls="nav-home-tab" >Cancelar</button> 
						<button type="submit" name="submit" id="submit" class="submit action-button btn-primary" aria-controls="nav-profileD-tab">Aceptar</button> 
					</div>
				</div>
			</div>
		</form>   
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% if messages %}
{% for message in messages %}
<script>

	Swal.fire({
		title: "Registro",
		text: "{{ message }}",
		icon: 'success',
		width: 600,
		padding: '3em',
		color: '#000',
		background: '#fff success',
		backdrop: `
		rgba(234, 236, 238, 0.4)
		url("static/img/engra.gif")
		left top
		no-repeat
		`
	});
</script>


{% endfor %}
{% endif %}

{%endblock%}