{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{%static '/css/footer.css'%}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{%static '/js/jquery-3.5.1.js'%}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
	
	<script src="{%static '/code/highcharts.js' %}"></script>
	<script src="{%static '/code/modules/series-label.js' %}"></script>
	<script src="{%static '/code//modules/exporting.js' %}"></script>
	<script src="{%static '/code/modules/export-data.js'%}"></script>
	<script src="{%static '/code/modules/accessibility.js '%}"></script>

</head>
<body>
	{% if user.is_staff %}
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F2F3F4">
		<div class="container-fluid">
			<a class="navbar-brand" href="/homepage"><img src="{%static '/img/cedva (1).png'%}" width="60px" height="60px"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/alumnos"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
							<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
							<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
						</svg> Alumnos</a>

					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
							<path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
						</svg>Pagos
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
							<li><a class="dropdown-item" href="/pagos">Pagos individuales del alumno</a></li>
							<li><a class="dropdown-item" href="/pagados_por_mes">Pagos realizados </a></li>
							<li><a class="dropdown-item" href="/pendientes">Pagos pendientes</a></li>
						
							<li><a class="dropdown-item" href="/Enero/norealizo">Pagos no realizados </a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
							</svg> Gráficas
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
							<li><a class="dropdown-item" href="/2022/grafico2">Gráficas Totales</a></li>
							<li><a class="dropdown-item" href="/2022/grafico">Gráficas por periodo</a></li>
						</ul>
					</li>

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/adminadd"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
							<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
							<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
						</svg> Administrador {{user.username }}</a>

					</li>
				</ul>
				<form class="d-flex">
					<button class="btn btn-outline-danger" type="submit"><a href="/logout" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
						<path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
						<path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
					</svg> Salir</a></button>
				</form>
			</div>
		</div>
	</nav>


	{%block content%}


	{%endblock%}

	
	<br>
	<br>

	<script  src="{%static '/js/jquery-3.6.1.min.js'%}"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			$('#table').DataTable();
		} );
	</script>

	<script type="text/javascript">
		$(document).ready( function () {
			$('#tableAl').DataTable();
		} );
	</script>

	<script type="text/javascript">
		$(document).ready( function () {
			$('#tablePendientes').DataTable();
		} );
	</script>

	<script type="text/javascript">
		$(document).ready( function () {
			$('#tableP').DataTable();
		} );
	</script>
	
	<script type="text/javascript">
		$(document).ready( function () {
			$('#tablePa').DataTable();
		} );
	</script>

	<script type="text/javascript">
		$(document).ready( function () {
			$('#tableAtrasado').DataTable();
		} );
	</script>

	<script type="text/javascript">
		$(document).ready( function () {
			$('#tablePa1').DataTable();
		} );
	</script>
	<script type="text/javascript">
		$(document).ready( function () {
			$('#tablePa2').DataTable();
		} );
	</script>
	<script type="text/javascript">
		$(document).ready( function () {
			$('#tablePa3').DataTable();
		} );
	</script>
	<script type="text/javascript">
		$(document).ready( function () {
			$('#tablePa4').DataTable();
		} );
	</script>
	<script type="text/javascript">
		$(document).ready( function () {
			$('#tablePa5').DataTable();
		} );
	</script>
	{%endif%}
</body>
</html>