{%extends 'director/base.html'%}
{% load static %}
{%block content%}
<br>
<div class="container" align="center">
	<div class="row">
		<div align="center">
			<div>
				<div class="card">
					<div class="card-header" style="background-color: #373b3e; color: white;">
						Bienvenido
					</div>
					<div class="card-body">
						<h5 class="card-title"></h5>
						<p class="card-text">Puede consultar pagos, registrar alumnos, ver gráficas</p>
						<a href="alumnos" class="btn btn-primary">Comenzar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{%endblock%}
