{%extends 'director/base.html'%}
{% load static %}
{%block content%}

<br>
<div class="container">
  <div class="row">
    <div>
      <div>
        <div class="card">
          <div class="card-header">
            Registrar Alumnos
          </div>
          <div class="card-body">
            <nav>
             <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Usuario Alumno</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Datos Generales</button>
              <button class="nav-link" id="nav-profileD-tab" data-bs-toggle="tab" data-bs-target="#nav-profileD" type="button" role="tab" aria-controls="nav-profileD" aria-selected="false">Domicilio</button>
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Tutor</button>
            </div>
          </nav>
          <form method="POST" enctype="multipart/form-data" action="">
            <div class="tab-content" id="nav-tabContent">
              {% csrf_token %}
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="username">Usuario</label>
                    <input type="text" name="username" id="username" value="{{User.username}}" class="form-control" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label> Correo del alumno</label>
                    <input type="email" name="email" id="email" value="{{User.email}}" class="form-control" readonly>
                  </div>
                  <div align="center">
                    <br>
                    <button type="button" name="next" id="next" class="next action-button btn-primary" aria-controls="nav-profile-tab">Siguiente </button> 
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Matricula</label>
                    <input type="text" name="matricula" id="matricula" value="{{Alumno.matricula}}" class="form-control" readonly>
                    <label>Nombre</label>
                    <input type="text" name="nombreA" id="nombreA" value="{{Alumno.nombreA}}" class="form-control" readonly>
                    <label>Segundo Nombre</label>
                    <input type="text" name="snombreA" id="snombreA" value="{{Alumno.snombreA}}" class="form-control" readonly>
                    <label>Apellido Paterno</label>
                    <input type="text" name="apellidoPA" id="apellidoPA" value="{{Alumno.apellidoPA}}" class="form-control" readonly>
                    <label>Apellido Materno</label>
                    <input type="text" name="apellidoMA" id="apellidoMA"  value="{{Alumno.apellidoMA}}" class="form-control" readonly>
                    <label>Edad</label>
                    <input type="number" name="edad" id="edad"  value="{{Alumno.edad}}" class="form-control" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label> Especialidad</label>
                    <input type="text" name="nombreE" value="{{Especialidad.nombreE}}" class="form-control" readonly>
                    <label> Inicio de Curso </label>
                    <input type="text" name="inicioCurso" id="inicioCurso" value="{{Alumno.inicioCurso}}" class="form-control" readonly>
                    <label>Final de Curso</label>
                    <input type="text" name="finalCurso" id="finalCurso"  value="{{Alumno.finalCurso}}" class="form-control" readonly>
                    <label> Convenio </label>
                    <input type="text" name="convenio" id="convenio"  value="{{Alumno.convenio}}" class="form-control" readonly>
                    <label>Observaciones</label>
                    <input type="text" name="observaciones" id="observaciones" value="{{Alumno.observaciones}}" class="form-control" readonly>
                  </div>
                  <div align="center">
                    <br>
                    <button type="button" name="previous" id="previous" class="previous action-button btn-secondary" aria-controls="nav-home-tab" >Anterior</button> 
                    <button type="button" name="next1" id="next1" class="next action-button btn-primary" aria-controls="nav-profileD-tab">Siguiente</button> 
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profileD" role="tabpanel" aria-labelledby="nav-profileD-tab">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Calle</label>
                    <input type="text" name="calle" id="calle" value="{{Direccion.calle}}" class="form-control" readonly>
                    <label>Colonia</label>
                    <input type="text" name="colonia" id="colonia" value="{{Direccion.colonia}}" class="form-control" readonly>
                    <label>Codigo Postal</label>
                    <input type="text" name="codigopostal" id="codigopostal" value="{{Direccion.codigopostal}}" class="form-control" readonly>
                    <label>No. Interior</label>
                    <input type="text" name="lote" id="lote" value="{{Direccion.lote}}" class="form-control" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>No. Exterior</label>
                    <input type="text" name="manzana" id="manzana" value="{{Direccion.manzana}}" class="form-control" readonly>
                    <label>Delegación o Municipio</label>
                    <input type="text" name="delegacionMunicipio" id="delegacionMunicipio" value="{{Direccion.delegacionMunicipio}}" class="form-control" readonly>
                    <label>Ciudad o Estado</label>
                    <input type="text" name="ciudadOestado" id="ciudadOestado" value="{{Direccion.ciudadOestado}}" class="form-control" readonly>
                  </div>
                  <br>
                  <br>
                  <div align="center">
                    <br>
                    <button type="button" name="previous1" id="previous1" class="previous action-button btn-secondary" aria-controls="nav-profileD-tab">Anterior</button> 
                    <button type="button" name="next2" id="next2" class="next action-button btn-primary" aria-controls="nav-contact-tab">Siguiente</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input type="text" name="nombreT" id="nombreT" value="{{Tutor.nombreT}}" class="form-control" readonly>
                    <label>Apellido Paterno</label>
                    <input type="text" name="apellidoPT" id="apellidoPT" value="{{Tutor.apellidoPT}}" class="form-control" readonly>
                    <label>Apellido Materno</label>
                    <input type="text" name="apellidoMT" id="apellidoMT" value="{{Tutor.apellidoMT}}" class="form-control" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Télefono</label>
                    <input type="number" name="telefono" id="telefono" value="{{Tutor.telefono}}" class="form-control" readonly>
                    <label>Padre o Tutor</label>
                    <input type="text" name="padreT" id="padreT" value="{{Tutor.padreT}}" class="form-control" readonly>
                  </div>
                  <br>
                  <br>
                  <div align="center">
                    <br>
                    <button type="button" name="previous2" id="previous2" class="previous action-button btn-secondary" aria-controls="nav-profileD-tab">Anterior</button> 
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 

<script type="text/javascript">
  window.addEventListener("load", function() {
    let tabs = document.querySelectorAll(".nav-tabs button");

    let nextTab = document.getElementById("next");

    let i = 0;

    nextTab.addEventListener("click", function() {

      i = (i == (tabs.length - 1)) ? 0 : i + 1;
      tabs[1].click();

    }, false);
  }, false);

  window.addEventListener("load", function() {
    let tabs1 = document.querySelectorAll(".nav-tabs button");

    let nextTab1 = document.getElementById("next1");

    let i = 1;

    nextTab1.addEventListener("click", function() {

      i = (i == (tabs1.length - 1)) ? 0 : i + 1;
      tabs1[2].click();

    }, false);
  }, false);

  window.addEventListener("load", function() {
    let tabs2 = document.querySelectorAll(".nav-tabs button");

    let nextTab2 = document.getElementById("next2");

    let i = 1;

    nextTab2.addEventListener("click", function() {

      i = (i == (tabs2.length - 1)) ? 0 : i + 1;
      tabs2[3].click();

    }, false);
  }, false);
</script>

<script type="text/javascript">
  window.addEventListener("load", function() {
    let tabs3 = document.querySelectorAll(".nav-tabs button");

    let previousTab = document.getElementById("previous");

    let i = 0;

    previousTab.addEventListener("click", function() {

      i = (i == (tabs3.length - 1)) ? 0 : i + 1;
      tabs3[0].click();

    }, false);
  }, false);

  window.addEventListener("load", function() {
    let tabs4 = document.querySelectorAll(".nav-tabs button");

    let previousTab1 = document.getElementById("previous1");

    let i = 1;

    previousTab1.addEventListener("click", function() {

      i = (i == (tabs4.length - 1)) ? 0 : i + 1;
      tabs4[1].click();

    }, false);
  }, false);

  window.addEventListener("load", function() {
    let tabs5 = document.querySelectorAll(".nav-tabs button");

    let previousTab2 = document.getElementById("previous2");

    let i = 1;

    previousTab2.addEventListener("click", function() {

      i = (i == (tabs5.length - 1)) ? 0 : i + 1;
      tabs5[2].click();

    }, false);
  }, false);
</script>

<script type="text/javascript">

</script>

{%endblock%}