{%extends 'headerAlumno.html'%}
{%load static%}
{%block content%}
{% if user.is_authenticated %}
<form >
	<div align="center">
		<div class="col-6">
			<div class="mt-4 p-5 bg-primary text-white rounded" >
				<h1>Bienvenido  {{ user.username }}</h1>
				<ul class="list-group">
					<li class="list-group-item active"></li>
					<li class="list-group-item"><strong>Recuerda que tus pagos los puedes realizar</strong></li>
					<li class="list-group-item"><strong>en efectivo acudiendo a recepción</strong></li>
				</ul>
			</div>
		</div>
	</div>
</form>
<div align="center">
	<div class="col-6">
		<div class="mt-4 p-5 bg-info text-white rounded" >
			<h1>Revisa tus datos personales</h1>
			<ul class="list-group">
				<a type="submit" href="/{{user.id}}/alumnos2" class="btn btn-secondary position-relative">
					Datos Personales <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill" fill="#212529" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
				</a>
			</ul>
		</div>
	</div>
</div>

{% else %}
<ul class="nav navbar-nav navbar-right">
	<li><a href="index.html"></a></li>
</ul>
{% endif %}
{% if user.not_authenticated %}
 <h1>hola</h1>

{%endif%}
{%endblock%}