<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>mail</title>
<body>
<div class="contenedorFormulario">

    {% if "valido" in request.GET %}

    <p>Información enviada correctamente</p>


    {% endif %}

    <form action="" method="POST">

        {% csrf_token %}<!--Toque csrf para activar la seguridad en los formularios-->

    <table style="margin: 20px left;">{{miFormulario.as_table}}</table>

    <input type="submit" value="Enviar" style="width: 150px;">

    </form>

</div>
</body>
</html>



