<!DOCTYPE html>
<html>
<head>
	<title> hola mundo</title>
</head>
<body>
	<form method="POST" action="{%url 'contact'%}">
		{% csrf_token %}
		<label>nombre</label>
		<input type="text" name="name">
		<label>correo</label>
		<input type="email" name="email">
		<label>asunto</label>
		<input type="text" name="asunto">
		<input type="text" name="texto">
		<button type="submit" name="submit"  id="submit" class="submit action-button btn-primary" aria-controls="nav-profileD-tab">Aceptar</button> 
	</form>
	{% if messages%}
	{% for message in messages%}

	<div class="alert alert-info" role="alert">
		{{messagr}}
	</div>
	{% endfor %}

	{% endif %}

</body>
</html>